body {
    position: absolute;
    height: 100px; 
    padding: 10px;
    width: 100%;

}



.fixed-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
form{
background-color: white;

width: 50%;
position: relative;
}
div {

    font-family:  "Times New Roman", Times, serif;
    font-size: 20px;
    margin: 0 auto;
    text-align: left;
}
input {
    width: 100%;
    margin: 0 auto;
}
header{
    border: 2px solid black;
    width: 50%
}
label{
    text-decoration: underline;
}